body {
  background-color: rgb(48, 48, 170);
}

body #linkBox {
  /*This css is used for a link box at the top of the Artist and Genre page */
  background-color: rgb(105, 102, 102);
  padding: 10px;
  text-align: left;
}

a {
  color: rgb(45, 241, 78);
  text-decoration: none;
}
a:visited {
  color: rgb(64, 148, 51);
  text-decoration: none;
}

.green {
  color: rgb(64, 148, 51);
}
.right {
  text-align: right;
}

table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

.main-image {
  max-width: 12em;
  border: 3px solid rgb(199, 199, 199);
}

h1,
h2 {
  background-color: rgb(199, 199, 199);
  padding: 5px 15px;
  box-shadow: 2px 2px 2px 2px;
}

header,
main section,
main nav,
footer {
  background-color: rgb(151, 149, 149);
  box-shadow: 0px 0px 100px 10px;
}
main section,
main nav {
  padding: 20px;
  margin: 20px;
}
header {
  padding: 20px 30px;
  margin: 20px 0;
}
header form input {
  margin: 0 2px;
}
footer {
  padding: 5px 60px;
  text-align: right;
}
