body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 100%;
  background-color: rgb(48, 48, 170);
}

p, h2, h3, ul, li, body {
  padding: 0;
  margin: 0;    
}

.search {
  border:6px;
  border-style:outset; 
  border-color:rgb(89,89,89); 
  padding: 1em;
}


h1, h2, h3, nav, footer {
font-family: Lobster, Cambria, "Times New Roman", serif;
}
  